.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .loader {
    border: 9px solid rgba(0, 0, 0, 0.3);
    border-top: 9px solid #007bff; /* Change the loader color to your preference */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
